  <Header>
  <nav class="navBar">
    <ul class="ulNavBar">
      <li class="nav-item"><a href="home"><i class="fas fa-home"></i>Home</a></li>
      <li class="nav-item"><a href="autoMerken"><i class="fas fa-car"></i>AutoMerken</a></li> 
      <li class="nav-item"><a href="modellen"><i class="fas fa-car-side"></i>Modellen</a></li>
    </ul>
  </nav>
  </Header>